<div class="top">
    <i class="fa-solid fa-envelopes-bulk fa-3x"></i>&nbsp;
    <span style="font-size: 32px;">E-mail Organizer </span>
    <a style="float: right;" href="/">
        <i class="fa-solid fa-house-laptop fa-3x"></i>
    </a>
</div>